.steps-content {
  min-height: 200px;
  min-width: 500px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.steps-action {
  margin-top: 24px;
}

.steps-title {
  width: 350px;
}

.list-video-horizontal {
  border: 1px solid #cccccc;
  width: 800px;
  overflow: auto;
  white-space: nowrap;
}

.list-video-horizontal>.video {
  text-align: center;
  display: inline-block;
  width: 150px;
}

.user-chat-name {
  font-size: 10px;
  color: #797979;
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

[data-theme='compact'] .site-description-item-profile-wrapper {
  font-size: 12px;
  line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
  max-width: 200px;
  display: block;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}